<section class="gallery">
    <div class="gallery__swiper-container">
        <div class="gallery__swiper swiper">
            <div class="swiper-wrapper">
                {% for image in DATA.galleryImages %}
                    <div class="swiper-slide">
                        <div class="gallery__placeholder">
                            <img class="gallery__placeholder-image" src="{{image.srcMin}}" width="448" height="614">
                        </div>
                        <img class="gallery__image" loading="lazy" src="{{image.src}}" width="448" height="614">
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <button class="gallery__button gallery__button--prev"></button>
        <button class="gallery__button gallery__button--next"></button>
    </div>
</section>