@use "reset";
@use "fonts";
@use "theme";

@use "components/icon_link";
@use "components/page";
@use "components/hero";
@use "components/greeting";
@use "components/gallery";
@use "components/price_list";
@use "components/sizes";
@use "components/footer";
@use "ribbons";

html {
    height: 100%;
    font-family: "Geologica";
}

body {
    height: 100%;
}